<div class="d-inline darkSwitch">
    <!-- Dark Mode Switch: -->
    <input class="switch-input" type="checkbox" id="switch" onChange="themeToggle()">
    <label class="switch-label" for="switch">
        <i class="bi bi-moon"></i>
        <i class="bi bi-sun"></i>
        <div id="ball" class='ball'></div>
    </label>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/themeToggle.js"></script>
</div>
