<%- include("head") -%>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Navbar Title -->
            <div class="navbar-header">
                <span class="navbar-brand h1">DAILY JOURNAL</span>
            </div>

            <!-- Dropdown Navbar Content-->
            <div class="btn-group">
                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li><a class="dropdown-item" href="/compose">Compose</a></li>
                    <li><a class="dropdown-item" href="/about">About Us</a></li>
                    <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
                </ul>
            </div>

            <!-- In-navbar content -->
            <ul class="nav navbar-nav navbar-right large-navbar-items">
                <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
                <div class="vr mx-2 opacity-25"></div>
                <li class="nav-item" id="about"><a class="nav-link" href="/compose">COMPOSE</a></li>
                <div class="vr mx-2 opacity-25"></div>
                <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
                <div class="vr mx-2 opacity-25"></div>
                <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container pb-5">
