<%- include("parcials/header") -%>

<h1 class="my-3">Compose</h1>
<form action="/compose" method="post">
    <div class="my-3">
        <label for="newTitle">Title</label>
        <input class="form-control" id="newTitle" type="text" name="newTitle" autofocus>
    </div>
    <div class="mb-3">
        <label class="form-label" for="newText">Post</label>
        <textarea class="form-control" id="newText" rows="5" name="newText" autofocus></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("parcials/footer") -%>