body {
    transition: background 0.2s linear;
}

body.dark {
    background-color: #27241D;
    color: #B8B2A7;
}

body.dark button {
    color: #999999;
    background-color: #27241D;
}

body.dark button:hover {
    background-color: #27241D;
    color: #FAEDF0;
}

body.dark a {
    color: #00A2C7;
}

body.dark a:hover {
    color: #0092B3;
}

body.dark nav {
    background-color: #857F72 !important;
    color: #FAEDF0 !important;
}

body.dark ul.nav a:hover {
    color: #0E0801 !important;
}

body.dark footer {
    background-color: #B8B2A7;
}

body.dark footer p {
    color: #433E37;
}

/* Start of Dark Switch */

body.dark .switch-label {
    background-color: #B8B2A7;
}

body.dark .ball {
    background-color: #423F3E;
}

/* End of Dark Switch */
