<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Massa vitae tortor condimentum lacinia quis. Eget nunc scelerisque viverra mauris in aliquam sem. Fermentum
    odio eu feugiat pretium. Elementum nibh tellus molestie nunc. Pharetra sit amet aliquam id diam maecenas. Aliquam
    sem fringilla ut morbi tincidunt. Amet venenatis urna cursus eget nunc scelerisque viverra. Viverra adipiscing at in
    tellus integer feugiat scelerisque varius. Et netus et malesuada fames. Sed odio morbi quis commodo odio aenean sed.
    Ornare lectus sit amet est placerat in egestas.
</p>

<%- include("footer") -%>